<%= form_with(model: residential, local: true) do |form| %>
  <% if residential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residential.errors.count, "error") %> prohibited this residential from being saved:</h2>

      <ul>
      <% residential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :residential_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :residential_address %>
  </div>

  <div class="field">
    <%= form.label :name_bank %>
    <%= form.text_field :name_bank, id: :residential_name_bank %>
  </div>

  <div class="field">
    <%= form.label :bank_account %>
    <%= form.text_field :bank_account, id: :residential_bank_account %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
