<p id="notice"><%= notice %></p>

<h1>Historicals</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Collection</th>
      <th>Month</th>
      <th>Administration value</th>
      <th>Discount</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historicals.each do |historical| %>
      <tr>
        <td><%= historical.id_user %></td>
        <td><%= historical.collection %></td>
        <td><%= historical.month %></td>
        <td><%= historical.administration_value %></td>
        <td><%= historical.discount %></td>
        <td><%= historical.user %></td>
        <td><%= link_to 'Show', historical %></td>
        <td><%= link_to 'Edit', edit_historical_path(historical) %></td>
        <td><%= link_to 'Destroy', historical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historical', new_historical_path %>
