<%= form_with(model: neighbor, local: true) do |form| %>
  <% if neighbor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(neighbor.errors.count, "error") %> prohibited this neighbor from being saved:</h2>

      <ul>
      <% neighbor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :neighbor_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :neighbor_location %>
  </div>

  <div class="field">
    <%= form.label :residential_id %>
    <%= form.text_field :residential_id, id: :neighbor_residential_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
