<p id="notice"><%= notice %></p>

<h1>Neighbors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Residential</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neighbors.each do |neighbor| %>
      <tr>
        <td><%= neighbor.name %></td>
        <td><%= neighbor.location %></td>
        <td><%= neighbor.residential %></td>
        <td><%= link_to 'Show', neighbor %></td>
        <td><%= link_to 'Edit', edit_neighbor_path(neighbor) %></td>
        <td><%= link_to 'Destroy', neighbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighbor', new_neighbor_path %>
